# Build outputs
out/
bin/

# Object files
*.o
*.obj
*.a
*.so
*.dll

docs/
simulations/SimpleVanetMEC/logs/
simulations/TaskOffloadVanet/logs/

# OMNeT++ simulation results
simulations/SimpleVanetMEC/results/
simulations/TaskOffloadVanet/results/

simulations/TaskOffloadVanet/dataset/

# Generated dependencies
*.d

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db